@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-color: #ffffff;
	--background-start-color: #00c4cc;
	--background-end-color: #0a1a44;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #ffffff;
		--background-start-color: #00c4cc;
		--background-end-color: #0a1a44;
	}
} */

html {
	scroll-behavior: smooth;
	scroll-padding: 6rem;
}
